@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Roboto:ital,wght@0,100;1,400&family=Rubik&display=swap');


:root{
    --blue: #2b3a55;
    --whiteish: #f7efef;
    --pink: #E8C4C4;
    --pinklight:#edd0d0;
    --peachy: #CE7777;
    --lighterblue: #556177;
    --lightblue: #404e66;

}

body{
    background: var(--whiteish);
    font-family: "Rubik", sans-serif;
    color: var(--blue);
}

main{
    padding: 60px 1rem;
    max-width: 1200px;
    margin-left: 0px;
    padding-left: 0px;

}

.mainpage-header{
    text-align: center;
}
/* HEADER NAVIGATION */
header{
    display: flex;
    justify-content: space-between;
    background-color: var(--peachy);
    border-radius: 16px;
    align-items: center;
    width: 100%;
    margin: 0%;
    padding: 0;
}
nav ul {
    list-style-type: none;
      display: flex;
    }

nav ul li a {
    border-radius: 16px;
    padding: 10px;
    text-decoration: none;
    color: black;
    background-color: var(--whiteish);
    border: 2px, black;
    margin: 5px;
  }

nav ul li  :hover{
    padding: 10px;
    text-decoration: none;
    color: var(--blue);
    background-color: var(--pink);
       
     }


a{
    text-decoration: none;
    color: black;
}

/* RECIPE CARD STYLING  */

.recipe-wrapper-inner{    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 16px;

}

.recipe-wrapper-inner :hover{    
    background-color: var(--pinklight);

}

.recipe-container {
    flex: 25%;
    padding: 1rem;
    border: 1px solid #D5D9EB;
    display: block;
    border-radius: 16px;
    text-decoration: none;
  
    flex-grow: 0;

 }

 .recipe-container>div {
    gap: 16px;
}

.recipe-name {
    font-size: 24px;
    font-weight: 600;
    color: var(--blue);
}
.recipe-description, .recipe-cooking_time{
    font-size: 18px;
    font-weight: 400;
    color: var(--lighterblue);
}

.fa-clock-o{ 
    padding: 5px;
}

.recipe-image>img{
    height: 180px; 
    width: 250px;
    object-fit: cover;
}

.homepage-image>img{
    width: 100%;

}


/* FILTER STYLING */
 .filter-wrapper{
    min-width: 100px;
    max-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 0;
    width: 100px;
    padding: 10px;
    border: 1px solid #D5D9EB;
    gap: 16px; 
    min-width: 200px;
    position: sticky;

 }
.filter-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 5%;
    flex-grow: 0;
    margin-right: auto;
    position: sticky;

    
}

.filter-titles>h4{
    padding: 0%;
    margin: 2px;
}

.label-input{
    display: flex;
    flex-direction: row; 
}    


/* TRYING A  FIXED SIDEBAR */
    .recipes-body{
     
            overflow: hidden;
            height: 100vh;
        
    }
.main-wrapper{
    overflow-y: auto;
    width: 2000px;
    padding: 15px; 

    /* background-color: aqua; */
}

aside{
    flex: 1 0 10%;
    min-width: 230px;
    /* position: sticky;
    left: 0; */
    width: 200px;
    padding: 15px;
    /* background-color: #CE7777; */
}

.all-recipes-body-content{
    display: flex;
  height: 100%;
}