<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/forms.css">
    <link rel="stylesheet" href="/static/css/single-page.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Document</title>
</head>
<body>
    <header> 
        <a href="/"><img src="/static/img/Group 16.png" alt="logo"></a>

        <nav>
            <ul>
           <li><a class="recipe-nav" href="/recipes">recipes</a></li> 
           <li><a class="recipe-nav" href="/recipes/new"> Add recipe</a></li>
         <li><a href="/ingredients"> Add ingredient</a></li>
            </ul>
        </nav>
</header>
    <!-- <main>    -->
    
        {% block content %}
        
        {% endblock %}
    <!-- </main> -->
 
</body>
</html>