{% extends 'base.html' %}
<div class="form-wrapper">

    
    {% block content %}
    <h2> Add a recipe</h2>
    
    <form class="form-inner" action="/recipes" method="post">
        <label for="name">Name of the recipe</label>
        <input type="text" id="name" name="name">
        <label for="description"> Total cooking time</label>
        <input type="number" name="cooking_time"  id="cooking_time">
        <label for="description">Short description of the recipe</label>
        <input type="text" name="description" id="description" >
        <label for="ingredient">Pick your ingredients and their amount</label>

        {% for ingredient in ingredients %}
        <div class="ingredient-input">
            <label for="ingredient" name="{{ingredient.name}}">{{ingredient.name}} : {{ingredient.amount}}</label>
            <input type="checkbox" id="{{ingredient.id}}" value="{{ingredient.name}}" name="{{ingredient.name}}">
             
        </div>
            
        {% endfor %}

        <label for="instructions">Recipe Instructions</label>
        <textarea name="instructions" id="instructions" cols="30" rows="7"></textarea>

        <!-- RADIO BUTTONS -->
        <label for="diet"> Pick the type</label>
        <div> vegetarian<input type="radio" name="diet" id="diet" value="vegetarian"> </div>
        <div> vegan<input type="radio" name="diet" id="diet" value="vegan">  </div>
        <div> dessert<input type="radio" name="diet" id="diet" value="dessert">  </div>
        <div> fish<input type="radio" name="diet" id="diet" value="fish">  </div>
        
        <label for="image"> Please insert web image link here</label>
        <input type="text" name="image" id="image" maxlength="255" >
        <button class="button" type="submit">Submit</button>
    </form>
    {% endblock %}
</div>